@font-face {
  font-family: 'Winky Sans';
  src: url('./font/winky-sans.ttf');
}
:root {
  font-family: 'Winky Sans', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;

  --main-text: #2d1d02;
  --main-bg: #c5b590;
  --btn-bg: beige;
  --color-good: rgb(138, 176, 92);
  --color-neutral: rgb(174, 171, 121);
  --color-bad: rgb(194, 135, 118);
  --color-total: rgb(137, 169, 166);

  background-color: var(--main-bg);
  color: var(--main-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  margin: 0;
  padding: 0;
}
